{% extends "layout.html" %}

{% block title %}
Ведомость
{% endblock %}

{% block main %}
{% for vedomost in vedomosti %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Vedomost ID: {{ vedomost.id }}</h5>
    <p class="card-text">Facultet: {{ vedomost.f_nane }}</p>
    <p class="card-text">Group: {{ vedomost.g_name }} ({{ vedomost.group_id }})</p>
    <p class="card-text">Discipline: {{ vedomost.discipline }}</p>
    <p class="card-text">Control Type: {{ vedomost.control_type }}</p>
    <p class="card-text">Hours Total: {{ vedomost.hours_total | hrs }}</p>
    <p class="card-text">Control Date: {{ vedomost.control_date }}</p>
    <p class="card-text">Name of Ekzaminator: {{ vedomost.name_of_ekzaminator }}</p>
    <p class="card-text">
    <form action="/vedomost" method="post">
      <input type="hidden" name="id" value="{{ vedomost.id }}" />
      <button class="btn btn-primary" type="submit">Get XLS</button></p>
    </form>
  </div>
</div>
{% endfor %}
{% endblock %}